{% extends '_base.html' %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Домашняя</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
      </ol>
    </nav>
    <form method="post" class="form-signin align-content-center col-md-6">
        {% csrf_token %}
        <div class="mb-3">
          <label for="course_name" class="form-label">Название типа сертификатов</label>
          <input type="text" name="name" class="form-control {% if form.errors %}is-invalid{% endif %}" id="course_name" placeholder="На арабском">
          {% for field in form %}
            {% if field.errors %}
                <div id="validationServerUsernameFeedback1" class="invalid-feedback">
                  {{ field.errors|striptags }}
                </div>
            {% endif %}
          {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Типы сертификатов</h6>

        {% if course.certificate_types.all %}
            {% for certificate_type in course.certificate_types.all %}
                <div class="media pt-3">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <a href="{% url 'certificate-type-detail' course.slug certificate_type.slug %}" class="text-dark text-decoration-none"><strong class="text-gray-dark">{{ certificate_type.name }}</strong></a>
                            <form action="{% url 'certificate-type-delete' course.slug certificate_type.slug %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn"><i class="bi-x-circle-fill" style="color: red;"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="media text-muted pt-3">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">У вас нет сертификатов</strong>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}